/* Colour pallet

Primary: Charcoal (#333333)

Secondary: Off-White (#FAFAFA)

Neutral Mid: Warm Gray (#B3B3B3)

Accent 1: Terracotta (#E07A5F)

Accent 2: Sage Green (#81B29A)
*/

/* wildcard selector to override defalut stylings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*CSS variables*/
:root{

 --Primary-color:  /*charcoal*/ #333333;

 --Secondary-color: /*Off-White*/ #FAFAFA;

 --Neutral-color : /*Warm Gray*/ #B3B3B3;

 --Accent-1: /*Terracotta*/ #E07A5F;

 --Accent-2: /*Sage Green*/ #81B29A;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;

}

h2{
    margin-bottom: 2rem;
}
.Accent-2{
    color: var(--Accent-1)
}
/*navbar*/
#navbar {
    background-color: #333333;
}

#navbar .logo{
    width: 40px; ;
    color: #ffffff;
}
/*header*/
header a {
    text-decoration: none;
    background-color: #333333; /*charcoal*/
}

.hero{
    width: 400px;
    height: 400px;
    padding-top: 10px;
    object-fit: cover;
}
main {
    flex: 1 0 auto;
    /* margin-top:47px;*/
}


/*Services*/
#services .card{
    margin-bottom: 1rem;
}

/*hero section
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/hero_img.avif)no-repeat center center/cover;
    position: relative;
} */


#cover-text>h2,
#cover-text>h3 {
    color: #ffffff
}


/*Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #ffff /*White*/
}

#social-networks i {
    font-size: 150%;
    padding: 5%;
}

/*Media queries*/
/*tablets*/
@media screen and (min-width: 768px) {
    #services .card-body{
        min-height: 190px;
    }
    

}

/*xl screens*/
@media screen and (min-width: 1200px) {
    #services .card-body{
        min-height: 220px;
    }
    
}

/*xxl screens*/
@media screen and (min-width: 1400px) {
    #services .card-body{
        min-height: 195px;
    }
    
}
